@model REA_Tracker.Models.AttachmentManagerViewModel
@using HelperMethods.Infrastructure
@{
    ViewBag.Title = Resources.strings.qviAttachmentManager;
}

<script type="text/javascript" src="~/Scripts/PopUp.js"></script>
<h2>@Resources.strings.qviAttachmentManager</h2>
@if( !(ViewBag.Message == null) && !(ViewBag.Message == "") )
{
    <font color="green">  @ViewBag.Message  </font>
}
@using (Html.BeginForm())
{
    <div class="col-lg-6 form-inline hidden-print">
        <select class="qvi-medium-width form-control" id="TopRows" name="TopRows">
            <option value="5" @if (Model.TopRows == "5") { <text> selected </text>  }>      5        </option>
            <option value="10" @if (Model.TopRows == "10") { <text> selected </text>  }>     10        </option>
            <option value="50" @if (Model.TopRows == "50") { <text> selected </text>  }>     50        </option>
            <option value="100" @if (Model.TopRows == "100") { <text> selected </text>  }>    100        </option>
            <option value="500" @if (Model.TopRows == "500") { <text> selected </text>  }>    500        </option>
            <option value="1000" @if (Model.TopRows == "1000") { <text> selected </text>  }>   1000        </option>
            <option value="5000" @if (Model.TopRows == "5000") { <text> selected </text>  }>   5000        </option>
            <option value="10000" @if (Model.TopRows == "10000") { <text> selected </text>  }>  10000        </option>
            <option value="All" @if (Model.TopRows == "All") { <text> selected </text> }> @Resources.strings.qviDisplayAllFiles </option>
        </select>
        <button type="submit" class="btn btn-success hidden-print">
            @Resources.strings.qviUpdateRowCount
        </button>
    </div>
    <div class="col-lg-7">
        <br/>
        <font color="#d74b4b"><b>@Resources.strings.qviCount:</b></font><b>@Model.ListOfFiles.Count()</b>
    </div>
<table class="table table-bordered table-hover col-lg-12">
    <thead>
        <tr>
            <th align="center" width="75px">
                @Resources.strings.qviEdit
            </th>
            <th align="center" width="100px">
                REA #
            </th>
            <th align="left">
                @Resources.strings.qviFileName
            </th>
            <th align="center" width="100px">
                @Resources.strings.qviSize
            </th>
            <th align="center" width="250px">
                @Resources.strings.qviAddedOn
            </th>
            <th align="center" width="200px">
                @Resources.strings.qviAddedBy
            </th>
            <th align="center" width="100">
                @Resources.strings.qviDelete
            </th>
        </tr>
    </thead>
    <tbody>
        @{int i = 0;}
        @foreach( REA_Tracker.Models.AttachmentManagerViewModel.FileInfo file in Model.ListOfFiles )
        {
        <tr>
            <td align="center">
                <!-- Link to the Edit Attachment -->
                
                <a href="/Admin/AttachmentManagerEdit/@file.FileID" target="_blank">@Resources.strings.qviEdit</a>
                <input type="hidden" id="ListOfFiles[i].FileID" name="ListOfFiles[i].FileID" value="ListOfFiles[i].FileID" />
            </td>
            <td align="center">
                @if (file.TrackingID > -1)
                {
                    <a href="/REA/Display/@file.TrackingID" target="_blank">@file.TrackingID</a>
                    <input type="hidden" id="ListOfFiles[i].TrackingID" name="ListOfFiles[i].TrackingID" value="@Model.ListOfFiles[i].TrackingID" />
                }
            </td>
            <td>
                <a href="/REA/Download?file_id=@file.FileID" target="_blank" >
                    @(String.IsNullOrEmpty(file.FileName) ? @Resources.strings.qviNoFileNameStoredInHistory : file.FileName)
                </a>
                <br/>
                @file.Description
                <input type="hidden" id="ListOfFiles[i].FileName" name="ListOfFiles[i].FileName" value="ListOfFiles[i].FileName" /> 
                <input type="hidden" id="ListOfFiles[i].Description" name="ListOfFiles[i].Description" value="@Model.ListOfFiles[i].Description" /> 
            </td>
            <td align="center">
                @file.Size
                <input type="hidden" id="ListOfFiles[i].Size" name="ListOfFiles[i].Size" value="@Model.ListOfFiles[i].Size" />
            </td>
            <td align="center">
                @file.AddedOn.ToString("MM/dd/yyyy HH:mm:ss")
                <input type="hidden" id="ListOfFiles[i].AddedOn" name="ListOfFiles[i].AddedOn" value="@Model.ListOfFiles[i].AddedOn" />
            </td>
            <td align="center">
                <a style="cursor:hand; cursor:pointer;" onclick="javascript: popUp('/Account/ViewUser/@file.AddedByID')">
                    @file.AddedByName
                </a>
                <input type="hidden" id="ListOfFiles[i].AddedByID" name="ListOfFiles[i].AddedByID" value="@Model.ListOfFiles[i].AddedByID" />
                <input type="hidden" id="ListOfFiles[i].AddedByName" name="ListOfFiles[i].AddedByName" value="@Model.ListOfFiles[i].AddedByName" />
            </td>
            <td align="center">
                <!-- Link to Delete -->
                <button class="btn btn-danger" type="submit" onclick="return confirm('Are you sure you want to delete this file?')" name="button" value="@file.FileID"> @Resources.strings.qviDelete </button>
            </td>
        </tr>
            i++;
        }
    </tbody>
</table>
}
