@model REA_Tracker.Models.NewREA

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#CompanyName").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/SCR/GetCompanyNames",
                    type: "POST",
                    dataType: "json",
                    data: { term: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item, value: item };
                        }))

                    }
                })
            },
            messages: {
                noResults: "", results: ""
            }
        });
    })
</script>

    <h3 class="content-title"><u>Customer Information</u></h3>
<p class="text-danger">@ViewBag.Message[1]</p>
<p>
    Information Customer Message
</p><br>
    <br />
    <div class="form-group">
        <label class="col-md-3">Customer Reported</label><div class="col-md-9">
            <select id="CustomerReported" name="CustomerReported" onclick="customer()" class="form-control fixed-width">
                <option value="false" @if (Model.CustomerReported==false) { @Html.Raw("selected"); }>No</option>
                <option value="true"  @if (Model.CustomerReported==true) { @Html.Raw("selected"); }>Yes</option>
            </select>
        </div><!-- /.col -->
    </div><!-- /.form-group -->
    <div class="form-group">
        <label class="col-md-3">Company</label>
            <div class="col-md-9">
                <input type="text" id="CompanyName" name="CompanyName" @if (Model.CustomerReported == false) { @Html.Raw("readonly='readonly' style='background:#C8C8C8;'") ; } value='@Model.CompanyName' class="form-control")>
            </div><!-- /.col -->
    </div><!-- /.form-group -->
    <div class="form-group">
        <label class="col-md-3">Location</label><div class="col-md-9"><input type="text" id="Location" name="Location" @if (Model.CustomerReported == false) { @Html.Raw("readonly='readonly' style='background:#C8C8C8;'"); } value='@Model.Location'  class="form-control"></div><!-- /.col -->
    </div><!-- /.form-group -->
    <div class="form-group">
        <label class="col-md-3">Contact Person</label><div class="col-md-9"><input type="text" id="ContactPerson" name="ContactPerson" @if (Model.CustomerReported == false) {@Html.Raw("readonly='readonly' style='background:#C8C8C8;'");  } value='@Model.ContactPerson' class="form-control"></div><!-- /.col -->
        <div class="col-md-3"></div><div class="col-md-9"><font color="#b94a48">@ViewBag.ContactPersonMessage</font></div>
</div><!-- /.form-group -->
    <div class="form-group">
        <label class="col-md-3">Syteline #</label><div class="col-md-9"><input type="text" id="Syteline" name="Syteline" value="@Model.Syteline" class="form-control" maxlength="10"></div><!-- /.col -->
    </div><!-- /.form-group -->
    <div class="form-group">
        <label class="col-md-3">Machine S/N</label><div class="col-md-9"><input type="text" id="Machine" name="Machine" value="@Model.Machine" class="form-control" maxlength="50"></div><!-- /.col -->
    </div><!-- /.form-group -->
